/* css for flexbox menu */
.menu {
  background-color: #333;
  padding: 5px;

  .menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    align-items: center;

    .menu-item {
      .menu-link {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;

        &:hover {
          background-color: #52e625;
          background-size: contain;
        }
      }

      &:nth-child(5) {
        margin-left: auto; /* Pushes all items after this to the right */
        .menu-link {
          background-color: #ffffff;
          color: #00b14f;
          border: 1px solid #00b14f;
          border-radius: 20px;
        }
      }

      &:nth-child(6) {
        .menu-link {
          color: #ffffff;
          border: 1px solid #00b14f;
          border-radius: 20px;
        }
      }
    }
  }
}
